
//imagenes del index
.alimentos img {
    width: 75%;
}

.vision img {
    width: 75%;
}

//imagenes de planes y contacto, reutilizacion de clases
.servicios img {
    width: 30%;
}

.video iframe {
    width: 75%;
}

//imágenes de alimentación saludable
.img-one img {
    width: 75%;
}

.img-two img {
    width: 75%;
}

.img-three img {
    width: 75%;
}

//imágenes de nutricion y deporte
    
.img-deporte img {
    width: 75%;
}



   