* {
    margin: 0;
    padding: 0;
}


body {
    background-color: darkkhaki;
}



/*Color de fondo del header y el footer*/

/*aplicación de flex box al header y zona navegable*/
header {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 5px solid orangered;
    flex-wrap: wrap;
}



footer {
    border-top: 2px solid orangered;
    background-color: orange;
    text-align: center;


}

footer a {
    text-decoration: none;
}

/*Eliminación de viñetas de la zona navegable, aplicación de flex box para darle formato al nav bar*/

header nav ul {
    display: flex;
    list-style-type: none;
}

/*diseño de nav bar, creando margenes entre los enlaces, debajo le di color a los enlaces*/
header nav ul li {
    margin: 5px;
}

/*le di color a los enlaces*/
header nav ul li a {
    color: darkred;
    text-decoration: none;
}


/*tamaño del logo del header*/
header img {
    width: 9rem;
}

/*Fuente y color al header*/
header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
    font-weight: bolder;
}

header nav ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Fuente del footer*/
footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Fuente de títulos y subtítulos*/
main h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

main h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    text-align: center;
}

main h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px
}

main h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    text-align: center;
}



/*Fuente de parrafos y listas desordenadas*/
main p {
    font-family: Arial, Helvetica, sans-serif;
}

main ul {
    font-family: Arial, Helvetica, sans-serif;
}

main div {
    font-family: Arial, Helvetica, sans-serif;
}


/*Justificado de los párrafos*/

p {
    text-align: justify;
}

main ul {
    text-align: justify;
}

main h1 {
    text-align: center;
}

main h3 {
    text-align: center;
}



/*medidas de imagenes*/
/*imagenes de index*/

.alimentos img {
    width: 75%;
}

.vision img {
    width: 75%;
}

/*imágenes de planes y contacto*/
/*reutilización de clases*/

.servicios img {
    width: 30%;
}

/*imágenes y video de los nutrientes, reutilizando clases*/
.nutrientes img {
    width: 75%;
}

.video iframe {
    width: 75%;
}

/*imágenes de alimentación saludable*/
.img-one img {
    width: 75%;
}

.img-two img {
    width: 75%;
}

.img-three img {
    width: 75%;
}

/*imágenes de nutricion y deporte*/
.img-deporte img {
    width: 75%;
}


/*aplicación de flex box al index*/
/*aplicación de box model*/

.alimentos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.vision {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}



/*Aplicacion de grid al index*/

.grid-container-dos {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    margin-left: 40px;
    margin-right: 40px
}



/*aplicación de flex box al archivo alimentación saludable*/

.img-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.img-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.nutricion-one {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid orangered;
    margin: 60px;
    background-color: darkorange;
    padding: 20px;
}



/*nutricion y deporte*/

.img-deporte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;

}

/*reutilizacion de clases en alimentacion saludable*/
.nutrientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*aplicacion de grid en el archivo planes y contacto*/

.grid-container {
    display: grid;
    gap: 3rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    margin-left: 40px;
    margin-right: 40px
}


 

.grid-container img {
    width: 100%;
   

}




.parrafo-servicio {
    text-align: center;
    justify-content: center;

}

.direccion{
    display: flex;
    margin: 40px;
    justify-content:space-around



}

.direccion p{
    align-self: center;
}

.direccion img{
    width: 50%;
}



