header {
  background-color: orange;
  background-image: linear-gradient(to top, orange, coral);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 5px solid orangered;
  flex-wrap: wrap;
}
header p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: crimson;
  font-weight: bolder;
  transform: translate(15px, -30px);
}
header img {
  width: 9rem;
}
header nav ul {
  display: flex;
  list-style-type: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
header nav ul li {
  margin: 5px;
}
header nav ul li a {
  color: darkred;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkkhaki;
}

footer {
  border-top: 2px solid orangered;
  padding: 30px;
  background-color: orange;
  background-image: linear-gradient(to top, orange, coral);
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
footer a {
  text-decoration: none;
}

main p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
main p ul {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
main p ul li {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
main div {
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container-dos {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.grid-container {
  display: grid;
  gap: 3rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.grid-container img {
  width: 100%;
}

.parrafo-servicio {
  text-align: center;
  justify-content: center;
}

.direccion {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: space-around;
}

.direccion p {
  display: flex;
  align-self: center;
}

.direccion img {
  width: 50%;
}

.alimentos img {
  width: 75%;
}

.vision img {
  width: 75%;
}

.servicios img {
  width: 30%;
}

.video iframe {
  width: 75%;
}

.img-one img {
  width: 75%;
}

.img-two img {
  width: 75%;
}

.img-three img {
  width: 75%;
}

.img-deporte img {
  width: 75%;
}

.alimentos {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.vision {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.img-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-three {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nutricion-one {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid orangered;
  background-image: linear-gradient(to top, orange, coral);
  margin: 60px;
  background-color: darkorange;
  padding: 20px;
}

.nutrientes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nutrientes img {
  width: 75%;
}

.img-deporte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
}
.img-deporte img {
  width: 75%;
}

.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.parrafo-servicio {
  text-align: center;
  justify-content: center;
}

.direccion {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: space-around;
}

.direccion p {
  display: flex;
  align-self: center;
}

.direccion img {
  width: 50%;
}

h1, main h1, main h2, main h3, main h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.boton-uno {
  margin-left: 25px;
  background-color: orange;
  color: white;
  width: 150px;
  transition: 0.3s;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.boton-uno:hover {
  background-color: violet;
}

.nutricion-one {
  background-image: linear-gradient(to top, orange, coral);
}

header {
  background-image: linear-gradient(to top, orange, coral);
}

footer {
  background-image: linear-gradient(to top, orange, coral);
}

header p {
  transform: translate(15px, -30px);
}

.icono-whatsapp {
  cursor: pointer;
  width: 3rem;
  position: fixed;
  right: 25px;
  bottom: 10px;
  transition: all 1s;
}
.icono-whatsapp:hover {
  transform: rotate(360deg);
}

/*# sourceMappingURL=style.scss.map */
