
.nutricion-one {
    background-image: linear-gradient(to top, orange, coral );

}

header {
    background-image: linear-gradient(to top, orange, coral );
}

footer {
    background-image: linear-gradient(to top, orange, coral );
}