footer {
    border-top: 2px solid orangered;
    padding: 30px;
    background-color: orange;
    background-image: linear-gradient(to top, orange, coral );
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    a{
        text-decoration: none;
    }


}